---
import Base from "../../layouts/base.astro";
const doc_res = await fetch('http://localhost:2468/doctors').then(res => res.json())
---

<Base>
    <div class="p-5">
        {
            doc_res.map((doc) => {
                return (
                        <div class="text-xl py-1">
                            <a class="text-blue-500 underline" href={"/doctors/" + doc.doc_id}>{doc.full_name}</a>
                        </div>
                )
            })
        }
    </div>
</Base>