---
import Auth from "../layouts/auth.astro";
import AddForm from "../components/small/add_form";

if (Astro.cookies.get('token') == null) {
    return Astro.redirect('/auth/login');
}
const doc_res = await fetch(`http://localhost:2468/doctors`, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': Astro.cookies.get('token')?.value || ''
    }
}).then((res) => res.json())

//add all docs to docs
let docs = []
doc_res.forEach((doc) => {
    docs.push(
        {
            "full_name": doc.full_name,
            "docID": doc.doc_id
        }
    )
})
---

<Auth>
    <div class="flex flex-col justify-center items-center p-5">
        <AddForm size="wide" token={Astro.cookies.get('token')?.value || ''} docs={docs} client:load />
    </div>
</Auth>