---
import Auth from '../layouts/auth.astro';
import CreateTable from '../components/table';
import AddForm from '../components/small/add_form';

if (Astro.cookies.get('token') == null) {
    return Astro.redirect('/auth/login');
}
const doc_res = await fetch(`http://localhost:4321/api/doctors`, {
        method: 'GET'
    }).then((res) => res.json())

//add all docs to docs
let docs:any = []
doc_res.forEach((doc:any) => {
    docs.push(
        {
            "full_name": doc.full_name,
            "docID": doc.doc_id
        }
    )
})
---

<Auth title="DashBoard | DocCache">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1 mx-5 my-8">
            <div class="w-full border-2 border-neutral-700 rounded-lg">
                <AddForm token={Astro.cookies.get('token')?.value || ''} size='small' docs={docs} client:load />
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 pr-10">
                <div class="flex flex-col">
                    <CreateTable
                        number={5}
                        default_term="all"
                        small={true}
                        query="all"
                        client:load
                    />
                    <!-- TODO: Add Recent Records Field -->
                </div>
            </div>
        </div>
    </div>
</Auth>
