---
import Auth from '../layouts/auth.astro';
import CreateTable from '../components/table';
import AddForm from '../components/small/add_form';

if (Astro.cookies.get('token') == null) {
    return Astro.redirect('/auth/login');
}
const doc_id = Astro.cookies.get('doc')?.value || ''
const doc_res = await fetch(`http://localhost:2468/doctors/${doc_id}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': Astro.cookies.get('token')?.value || ''
        }
    }).then((res) => res.json())

const doc = {
    "name": String(doc_res.full_name),
    "number": parseInt(doc_id),
}
---

<Auth title="DashBoard | DocCache">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1 mx-5 my-8">
            <div class="w-full border-2 border-neutral-700 rounded-lg">
                <AddForm token={Astro.cookies.get('token')?.value || ''} doc={doc} client:load />
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 pr-10">
                <div class="flex flex-col">
                    <CreateTable
                        number={5}
                        default_term="all"
                        small={true}
                        query="all"
                        client:load
                    />
                    <!-- TODO: Add Recent Records Field -->
                </div>
            </div>
        </div>
    </div>
</Auth>
