---
import Auth from "../../layouts/auth.astro";
import CreateTable from "../../components/table";

const { term } = Astro.params
const query = term || ''

let auth_token = ''
if(Astro.cookies.get('token')) {
    auth_token = Astro.cookies.get('token')?.value || ''
}
else{
    return Astro.redirect('/auth/login')
}
---

<Auth title={`Searching for ${query}`}>
    <div class="flex flex-col justify-center items-center py-10">
        <CreateTable query={query} token={auth_token} client:load />
    </div>
</Auth>